[Desktop Entry]
Type=Application
Exec=tts-selected-text
Icon=/usr/share/bigbashview/bcc/apps/tts/icon-grid-texto-fala-tts.svg
Categories=Utility;
StartupNotify=true
Name=Speech or stop selected text
Name[pt]=Falar ou parar o texto selecionado
Name[pt_BR]=Narrador de texto
X-KDE-Shortcuts=Alt+V
X-XFCE-Source=file:///usr/share/applications/bigtts.desktop
