[Desktop Entry]
Version=1.0
Name=Power Manager
Name[pt]=Gestor de energia
Name[pt_BR]=Gerenciador de Energia
GenericName=Power Manager
GenericName[pt]=Gestor de energia
GenericName[pt_BR]=Gerenciador de Energia
Comment=Settings for the Xfce Power Manager
Comment[pt]=Definições para o gestor de energia do Xfce4
Comment[pt_BR]=Configurações para o Gerenciador de Energia do Xfce
Exec=xfce4-power-manager-settings
Icon=ac-adapter
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
Keywords=settings;preferences;buttons;sleep;hibernate;battery;suspend;shutdown;brightness;laptop lid;lock screen;plugged in;saving;critical;
Keywords[pt]=definições;preferências;botões;retomar;hibernar;bateria;suspender;encerrar;desligar;luminosidade;brilho;tampa do portátil;bloquear ecrã;acoplado;poupança;crítico;
Keywords[pt_BR]=configurações;preferências;botões;dormir;hibernar;bateria;suspender;desligar;brilho;tampa do notebook;bloquear tela;conectado;salvar;crítico;
NotShowIn=GNOME;KDE;Unity;
StartupNotify=true
X-XfcePluggable=true
X-XfceHelpComponent=xfce4-power-manager
X-XfceHelpPage=start
X-XFCE-Source=file:///usr/share/applications/xfce4-power-manager-settings.desktop
Path=
