[Desktop Entry]
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
Comment[pt_BR]=Navega no sistema de arquivos
Comment=Navega no sistema de arquivos
Exec=exo-open --launch FileManager %u
GenericName[pt_BR]=
GenericName=
Icon=org.xfce.filemanager
MimeType=
Name[pt_BR]=Gerenciador de arquivos
Name=Gerenciador de arquivos
OnlyShowIn=XFCE;
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-AppStream-Ignore=True
X-KDE-SubstituteUID=false
X-KDE-Username=
X-XFCE-MimeType=inode/directory;x-scheme-handler/trash;
X-XFCE-Source=file:///usr/share/applications/xfce4-file-manager.desktop
