#!/usr/bin/env xdg-open
[Desktop Action new-private-window]
Exec=brave --incognito
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;
Name[pt_BR]=Nova janela anônima
Name=New Incognito Window

[Desktop Action new-window]
Exec=brave
Name[pt_BR]=Nova janela
Name=New Window

[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment[pt_BR]=Acessar a internet
Comment=Acessar a internet
Exec=brave %U
GenericName[pt_BR]=Navegador da Internet
GenericName=Navegador da Internet
Icon=brave-desktop
MimeType=text/html;image/webp;image/png;image/jpeg;image/gif;application/xml;application/xml;application/xhtml+xml;application/rss+xml;application/rdf+xml;application/pdf;
Name[pt_BR]=Navegador Brave
Name=Navegador Brave
Path=
StartupNotify=true
StartupWMClass=brave-browser
Terminal=false
TerminalOptions=
TryExec=brave
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
X-XFCE-Source=file:///usr/share/applications/brave-browser.desktop
